<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754008135574-a6fps8oe3r0t1cghqb38rk4jj9skfdh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754008135574-a6fps8oe3r0t1cghqb38rk4jj9skfdh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAFiDFvChsv1mhg_nmg_902WF0x_8tJszE</string>
	<key>GCM_SENDER_ID</key>
	<string>754008135574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>mobile-airticle-swipe</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-airticle-swipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754008135574:ios:10ab6445effa501a61afb7</string>
</dict>
</plist>